<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="burp.client.subnetmask" value="255.255.255.0"/>
    <add key="burp.client.name" value="ben"/>
    <!-- keep it 48x48 for now. jpg or png should be ok-->
    <add key="burp.client.avatar" value="castrocycle.jpg"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
